In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import norm
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [12]:
df = pd.read_csv("data/house-prices-advanced-regression-techniques/new_train.csv")

df_num = df.to_numpy()
df_num.shape

(1457, 8)

In [15]:
x_train, y_train = df_num[:, 1:7], df_num[:, -1]
x_train.shape, y_train.shape

((1457, 6), (1457,))

In [16]:
x_train

array([[7.00000000e+00, 2.00300000e+03, 6.75227038e+00, 7.44424865e+00,
        2.00000000e+00, 2.00000000e+00],
       [6.00000000e+00, 1.97600000e+03, 7.14045304e+00, 7.14045304e+00,
        2.00000000e+00, 2.00000000e+00],
       [7.00000000e+00, 2.00100000e+03, 6.82437367e+00, 7.48773376e+00,
        2.00000000e+00, 2.00000000e+00],
       ...,
       [7.00000000e+00, 1.94100000e+03, 7.04925484e+00, 7.75790621e+00,
        2.00000000e+00, 1.00000000e+00],
       [5.00000000e+00, 1.95000000e+03, 6.98286275e+00, 6.98286275e+00,
        1.00000000e+00, 1.00000000e+00],
       [5.00000000e+00, 1.96500000e+03, 7.13568735e+00, 7.13568735e+00,
        1.00000000e+00, 1.00000000e+00]])

In [18]:
mult_reggresion = LinearRegression().fit(x_train, y_train)
predictions = mult_reggresion.predict(x_train)


print(mult_reggresion.intercept_)
print(mult_reggresion.coef_)

2.0907380771286306
[ 0.1015836   0.00275067  0.03585856  0.48815022 -0.02779255  0.08301202]

In [20]:
mean_absolute_error(predictions, y_train), mean_squared_error(predictions, y_train)

(0.12343343708152864, 0.02746830768403977)

In [24]:
predictions_df = pd.DataFrame({"Id": df[df.columns[0]],
                               'OverallQual': df['OverallQual'],
                               'YearBuilt': df['YearBuilt'],
                               'TotalBsmtSF': df['TotalBsmtSF'],
                               'GrLivArea': df['GrLivArea'],
                               'FullBath':df['FullBath'],
                               'GarageCars':df['GarageCars'],
                               'SalePrice':df['SalePrice'],
                               'Sklearn SalePrice':predictions})

predictions_df

,Id,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea,FullBath,GarageCars,SalePrice,Sklearn SalePrice
0,0,7,2003,6.752270,7.444249,2,2,12.247694,12.297902
1,1,6,1976,7.140453,7.140453,2,2,12.109011,11.987672
2,2,7,2001,6.824374,7.487734,2,2,12.317167,12.316214
3,3,7,1915,6.628041,7.448334,1,3,11.849398,12.164187
4,4,8,2000,7.043160,7.695303,2,3,12.429216,12.607229
...,...,...,...,...,...,...,...,...,...
1452,1455,6,1999,6.859615,7.406711,2,2,12.072541,12.170841
1453,1456,6,1978,7.340836,7.636752,2,2,12.254863,12.242627
1454,1457,7,1941,7.049255,7.757906,2,1,12.493130,12.208110
1455,1458,5,1950,6.982863,6.982863,1,1,11.864462,11.676773
1456,1459,5,1965,7.135687,7.135687,1,1,11.901583,11.798114